body {
  font-family: 'Play', sans-serif;
  margin: 0px auto;
  text-align: center 

}

button {
	 height:100px;
  	width:100px;
    text-align: center
}

  
.input{
  float:right;
  position:relative;

}


table, tr, td {
    border: 1px solid black;
}
