/*body {
  font-family: 'Play', sans-serif;
  margin: 0px auto;
  text-align: center 

}*/

button {
	 height:100px;
  	width:100px;
    text-align: center


}
/*.square {
    float:left;
    position:relative;
    width: 20%;
    padding-bottom : 20%; 
    margin:1.66%;
    height:40%;

  
}

.content {
    position:absolute;
    height:90%; /* = 100% - 2*5% padding 
    width:90%; /* = 100% - 2*5% padding 
    padding: 5%;
    
}
*/*/*/

